.header {
    display: flex;
    align-items: center;
    padding: 2.5rem 1rem;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header a {
    max-width: 250px;
    color: black;
}

.header .material-icons img {
    width: 18px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group {
    padding-right: 5px;
}