<mat-card>
    <mat-card-title>Excluir Endereço </mat-card-title>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Cep"
                [value]="formulario.cep" name="cep" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Uf"
                [value]="formulario.uf" name="uf" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Cidade"
                [value]="formulario.cidade" name="cidade" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteFormulario()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

